.space
  .space__container.container
    .space__bg
      .space__bg-space
      .space__bg-stars
      .space__bg-noise
    .space__content.content
      .space__content-title.title Prostor
      .space__content-text.text
        | Space as a general term for free spreading is one of the most important categories in philosophy. Every visible object appears to a person in space, even though the image of the perceived scene is two-dimensional in the retina. The ability to interpret a pair of images of binocular vision as a space is a prerequisite for visual perception, but also the auditory perception of a person seems spatial. According to Kant, the notion of space can not derive from sensory perception, but must be given in advance as a priori, an a priori form of sensory opinion, just like time.
        | The fact that once a person opens his eyes, he has a continuous and homogeneous spread out before himself, "in which" he can perceive individual objects and in which his movement is possible, so obviously we do not notice him at all. Latin space designation, spatium (from which, for example, English space and French espace are derived) originally meant a space, a free space. Also, the Czech word space (literally "what is being used") as an abstract originated in modern times from the verbs "spirits, prostrarati (se)" and the specific term "space" (place, room). movement understands the whole of ancient and medieval philosophy.
