.space__star {
  position: absolute;
  width: 2px;
  height: 2px;
  opacity: 0;
  border-radius: 50px;
  border-radius: 50% 50px 50px 50%;
  background: linear-gradient(to right, transparent, rgba(white, 0.5) 99%, transparent);
  transform-origin: left;
  box-shadow: 0px 0px 50px 4px rgba(purple, 0.5);
}
