svg.gradients(style='position: absolute; height: 0; width: 0; font-size: 0')
  defs
    lineargradient#gold(x1='0' y1='0' x2='0' y2='100%')
      stop(offset='0%', stop-color='rgba(255,255,0, 1)')
      stop(offset='100%', stop-color='rgba(255,215,0, 1)')
    lineargradient#orange-purple(x1='0' y1='0' x2='0' y2='100%')
      stop(offset='0%', stop-color='rgba(255,215,0, 0.5)')
      stop(offset='0%', stop-color='rgba(255,215,0, 0.5)')
    lineargradient#gradient3(x1='0' y1='0' x2='0' y2='100%')
      stop(offset='0%', stop-color='gold')
      stop(offset='100%', stop-color='teal')
    lineargradient#yellow-red(x1='0' y1='0' x2='0' y2='100%')
      stop(offset='0%', stop-color='rgba(255,255,0, 0.5)')
      stop(offset='60%', stop-color='gold')
      stop(offset='100%', stop-color='rgba(255, 0, 0, 0.5)')
