svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' style='display: none')
  symbol#cloud1(viewbox='0 0 341.98 37.01', xmlns='http://www.w3.org/2000/svg')
    g(id='aСлой_2', data-name='Слой 2')
      g#aclouds
        path#acloud1.acls-1(d='M36.24 16c151 5 260-15 305-16 2.69-.06-1.81 9.12-15 11-126 18-274 22-325 26-5.81.46 9.35-21.85 35-21z')
  symbol#cloud2(viewbox='0 0 380.02 129.79', xmlns='http://www.w3.org/2000/svg')
    g(id='bСлой_2', data-name='Слой 2')
      g#bclouds
        path#bcloud2.bcls-1(d='M0 14.38c-.4-8.14 205.4-27.83 211 0 2.15 10.7-25.16 29-19 40 2.8 5 10.6 5.07 12 11 1.49 6.32-6.29 10.64-6 14 1.38 15.78 179.92 3.12 182 16 1.65 10.18-106.48 38.09-216 34 0 0-67.62-2.52-69-17-.76-7.94 22-15.94 20-23-1.69-6.07-18.93-1.6-26-11-7.5-10 5.54-23.51 2-36-7.91-27.89-90.75-22.83-91-28z')
  symbol#cloud3(viewbox='0 0 370.05 57.8', xmlns='http://www.w3.org/2000/svg')
    g(id='cСлой_2', data-name='Слой 2')
      g#cclouds
        path#ccloud3.ccls-1(d='M0 25C2.76 6.84 368-9.92 370 7c.92 7.7-75.21 16.23-110 28C116 83.75-2.44 41.62 0 25z')
  symbol#cloud4(viewbox='0 0 374.92 109', xmlns='http://www.w3.org/2000/svg')
    g(id='dСлой_2', data-name='Слой 2')
      g#dclouds
        path#dcloud4.dcls-1(d='M10.7 27.09c39.21-43.32 159.55 59.86 257 7 28.94-15.7 45.35-39.46 69-33 26.41 7.2 46.26 47.8 35 68-9.87 17.71-41.78 16.32-66 16-182.56-2.48-267.94 50.61-297 6-11.63-17.87-12.22-48.29 2-64z')
  symbol#cloud5(viewbox='0 0 370.03 72.45', xmlns='http://www.w3.org/2000/svg')
    g(id='eСлой_2', data-name='Слой 2')
      g#eclouds
        path#ecloud5.ecls-1(d='M69 10.82c20-41.15 304.41 47.37 301 61-.51 2-29-1-86-7-132.76-14-156.5-22.3-207-14-33.77 5.54-77 18.08-77 18s29-29 66-35c12-1.95 0-16.82 3-23z')
  symbol#cloud6(viewbox='0 0 398.87 85.26', xmlns='http://www.w3.org/2000/svg')
    g(id='fСлой_2', data-name='Слой 2')
      g#fclouds
        path#fcloud6.fcls-1(d='M103.85 40c124-26 292.48-46.54 295-38 .72 2.45-13.16 9.66-36 18-128.25 46.85-192 2.65-300 45-28.63 11.19-54.07 26-61 18-6.7-7.78 5.49-35.08 26-47 26.95-15.69 61.42 7 76 4z')
  symbol#cloud7(viewbox='0 0 367.09 100.02', xmlns='http://www.w3.org/2000/svg')
    g(id='gСлой_2', data-name='Слой 2')
      g#gclouds
        path#gcloud7.gcls-1(d='M176.08 32c-6.16-5.45-44.31-38.13-97-31-36.9 5-81.27 29.59-79 50 4.52 40.54 191 48.76 261 49 13.73 0 105 .07 106-11 .47-5.16-18.85-10.79-23-12-67.54-19.68-108.2 25.21-157 5-28.4-11.76-45.56-39.78-42-45 5.63-8.24 71 28.69 73 25 1.26-2.26-22.75-17.88-42-30z')
  symbol#clouds(viewbox='0 0 400.88 693.77', xmlns='http://www.w3.org/2000/svg')
    g(id='hСлой_2', data-name='Слой 2')
      g#hclouds
        path#hcloud7.hcls-1(d='M208.85 368c-6.16-5.45-44.32-38.13-97-31-36.91 5-81.28 29.58-79 50 4.51 40.53 191 48.76 261 49 13.72.05 105 .07 106-11 .46-5.16-18.86-10.79-23-12-67.55-19.69-108.2 25.21-157 5-28.41-11.76-45.57-39.78-42-45 5.63-8.25 71 28.68 73 25 1.25-2.27-22.76-17.9-42-30z')
        path#hcloud6.hcls-1(d='M103.85 499c124-26 292.48-46.54 295-38 .72 2.44-13.16 9.65-36 18-128.25 46.85-192 2.64-300 45-28.63 11.22-54.07 26.06-61 18-6.7-7.79 5.49-35.09 26-47 26.95-15.66 61.42 7.06 76 4z')
        path#hcloud5.hcls-1(d='M99.85 555c20-41.15 304.41 47.38 301 61-.52 2-29-1-86-7-132.76-14-156.5-22.29-207-14-33.78 5.55-77 18.08-77 18s29-29 66-35c12.03-1.95-.02-16.8 3-23z')
        path#hcloud4.hcls-1(d='M22.85 245c39.2-43.31 159.54 59.87 257 7 28.93-15.7 45.34-39.45 69-33 26.4 7.2 46.25 47.8 35 68-9.88 17.72-41.79 16.33-66 16-182.57-2.47-268 50.62-297 6-11.64-17.86-12.23-48.29 2-64z')
        path#hcloud3.hcls-1(d='M30.85 661c2.71-18.18 368-35 370-18 .92 7.7-75.21 16.23-110 28-144.04 48.73-262.48 6.59-260-10z')
        path#hcloud2.hcls-1(d='M6.85 79c-.4-8.14 205.39-27.83 211 0 2.15 10.7-25.16 29-19 40 2.8 5 10.59 5.07 12 11 1.49 6.31-6.3 10.64-6 14 1.37 15.77 179.91 3.12 182 16 1.64 10.17-106.48 38.09-216 34 0 0-67.63-2.52-69-17-.76-7.94 22-15.95 20-23-1.7-6.07-18.94-1.6-26-11-7.5-10 5.53-23.52 2-36-7.91-27.89-90.75-22.84-91-28z')
        path#hcloud1.hcls-1(d='M60.85 16c151 5 260-15 305-16 2.69-.06-1.81 9.12-15 11-126 18-274 22-325 26-5.85.46 9.35-21.85 35-21z')
  symbol#line1(viewbox='0 0 426 14', xmlns='http://www.w3.org/2000/svg')
    g(id='iСлой_2', data-name='Слой 2')
      g#ilinesOnWater
        path#iline1.icls-1(d='M16 14h410L415 0H0l16 14z')
  symbol#line2(viewbox='0 0 460.31 18', xmlns='http://www.w3.org/2000/svg')
    g(id='jСлой_2', data-name='Слой 2')
      g#jlinesOnWater
        path#jline2.jcls-1(d='M32.31 15l428 3-44-18L0 .46 32.31 15z')
  symbol#line3(viewbox='0 0 418 14.95', xmlns='http://www.w3.org/2000/svg')
    g(id='kСлой_2', data-name='Слой 2')
      g#klinesOnWater
        path#kline3.kcls-1(d='M26 14.95l392-2L393.4 0 0 2.95l26 12z')
  symbol#line4(viewbox='0 0 438 15', xmlns='http://www.w3.org/2000/svg')
    g(id='lСлой_2', data-name='Слой 2')
      g#llinesOnWater
        path#lline4.lcls-1(d='M22 15h416L422 0H0l22 15z')
  symbol#line5(viewbox='0 0 463 18', xmlns='http://www.w3.org/2000/svg')
    g(id='mСлой_2', data-name='Слой 2')
      g#mlinesOnWater
        path#mline5.mcls-1(d='M33 15l430 3-30-18H0l33 15z')
  symbol#line6(viewbox='0 0 460 11', xmlns='http://www.w3.org/2000/svg')
    g(id='nСлой_2', data-name='Слой 2')
      g#nlinesOnWater
        path#nline6.ncls-1(d='M37 11l423-2-66-9H0l37 11z')
  symbol#line7(viewbox='0 0 429 16', xmlns='http://www.w3.org/2000/svg')
    g(id='oСлой_2', data-name='Слой 2')
      g#olinesOnWater
        path#oline7.ocls-1(d='M429 16L399.45.01 0 0l50 16h379z')
