@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  color: white;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  max-width: 500px;
}

.title {
  font-size: 120px;
  line-height: 90px;
  font-family: 'Sorts Mill Goudy', serif;
}
.text {
  font-size: 16px;
  font-weight: 300;
  height: 100%;
}

.button-more {
  font-size: 18px;
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 700;
  line-height: 30px;
  padding: 0 10px;
  float: left;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  user-select: none;
  border: 1px solid rgba(white, 0.6);
  color: rgba(white, 0.6);
}

.button-more:hover {
  border: 1px solid rgba(white, 1);
  color: rgba(white, 1);
}

.button-more:active {
  border: 1px solid rgba(white, 0.4);
  color: rgba(white, 0.4);
}
