svg.hero__bg-clouds-1
  use.hero__bg-cloud(xlink:href="#cloud1" fill='url(#gold)')
svg.hero__bg-clouds-3
  use.hero__bg-cloud(xlink:href="#cloud3" fill='url(#gold)')
svg.hero__bg-clouds-3.hero__bg-clouds-3_rotate
  use.hero__bg-cloud(xlink:href="#cloud3" fill='url(#gold)')
svg.hero__bg-clouds-4
  use.hero__bg-cloud(xlink:href="#cloud4" fill='url(#gold)')
svg.hero__bg-clouds-1.hero__bg-clouds-1_rotate
  use.hero__bg-cloud(xlink:href="#cloud1" fill='url(#gold)')
