.sea__bg-fishs
  img.sea__bg-fish.sea__bg-fish-1(src='./images/fish/1.png')
  img.sea__bg-fish.sea__bg-fish-2(src='./images/fish/2.png')
  img.sea__bg-fish.sea__bg-fish-3(src='./images/fish/3.png')
  img.sea__bg-fish.sea__bg-fish-4(src='./images/fish/1.png')
  img.sea__bg-fish.sea__bg-fish-5(src='./images/fish/2.png')
