.sea__bg-lines
  .sea__bg-line.purple.purple-1
  .sea__bg-line.purple.purple-2
  .sea__bg-line.purple.purple-3
  .sea__bg-line.purple.purple-4
  .sea__bg-line.purple.purple-5
  .sea__bg-line.yellow.yellow-1
  .sea__bg-line.yellow.yellow-2
  .sea__bg-line.yellow.yellow-3
  .sea__bg-line.yellow.yellow-4
  .sea__bg-line.red.red-1
  .sea__bg-line.red.red-2
  .sea__bg-line.red.red-3
  .sea__bg-line.blue.blue-1
  .sea__bg-line.blue.blue-2
  .sea__bg-line.blue.blue-3
