.sea__bg-lines
  .sea__bg-line.purple.purple-1
  .sea__bg-line.purple.purple-2
  .sea__bg-line.purple.purple-3
  .sea__bg-line.purple.purple-4
  .sea__bg-line.purple.purple-5
  .sea__bg-line.yellow.yellow-1
  .sea__bg-line.yellow.yellow-2
  .sea__bg-line.yellow.yellow-3
  .sea__bg-line.yellow.yellow-4
  .sea__bg-line.red.red-1
  .sea__bg-line.red.red-2
  .sea__bg-line.red.red-3
  .sea__bg-line.blue.blue-1
  .sea__bg-line.blue.blue-2
  .sea__bg-line.blue.blue-3
  //svg.hero__bg-line.hero__bg-line-1.top10
  //  use.hero__bg-line(xlink:href="#line1")
  //svg.hero__bg-line.hero__bg-line-2.top10
  //  use.hero__bg-line(xlink:href="#line2")
  //svg.hero__bg-line.hero__bg-line-3.top30
  //  use.hero__bg-line(xlink:href="#line3")
  //svg.hero__bg-line.hero__bg-line-4.top30
  //  use.hero__bg-line(xlink:href="#line4")
  //svg.hero__bg-line.hero__bg-line-5.top50
  //  use.hero__bg-line(xlink:href="#line5")
  //svg.hero__bg-line.hero__bg-line-6.top50
  //  use.hero__bg-line(xlink:href="#line6")
  //svg.hero__bg-line.hero__bg-line-7.top70
  //  use.hero__bg-line(xlink:href="#line7")
  //  svg.hero__bg-line.hero__bg-line-3.hero__bg-line-3_dubl.top70
  //    use.hero__bg-line(xlink:href="#line3")
