.sea__bg-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  overflow: hidden;
}
.sea__bg-line {
  transform: skew(250deg);
  opacity: 0.4;
  animation-name: lineLeft;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.purple {
  animation-name: linePurple;
  background-color: mediumpurple;
  position: absolute;

  &-1 {
    animation-duration: 38s;
    top: 12%;
    left: 57%;
    width: 24%;
    height: 5%;
  }
  &-2 {
    animation-duration: 29s;
    top: 37%;
    left: 30%;
    width: 34%;
    height: 7%;
  }
  &-3 {
    animation-duration: 45s;
    top: 52.5%;
    left: 7%;
    width: 26%;
    height: 7%;
  }
  &-4 {
    animation-duration: 52s;
    top: 65%;
    left: 66%;
    width: 27%;
    height: 7%;
  }
  &-5 {
    animation-duration: 33s;
    top: 10%;
    left: 35%;
    width: 18.5%;
    height: 7%;
  }
}

.yellow {
  animation-name: lineYellow;
  background-color: yellow;
  position: absolute;

  &-1 {
    animation-duration: 45s;
    top: 3%;
    left: 42%;
    width: 9%;
    height: 3%;
  }
  &-2 {
    animation-duration: 33s;
    top: 2%;
    left: 52%;
    width: 9%;
    height: 4%;
  }
  &-3 {
    animation-duration: 39s;
    top: 20%;
    left: 13%;
    width: 9%;
    height: 4%;
  }
  &-4 {
    animation-duration: 28s;
    top: 22.5%;
    left: 60%;
    width: 9%;
    height: 4%;
  }
}

.red {
  animation-name: lineRed;
  background-color: lightcoral;
  position: absolute;

  &-1 {
    animation-duration: 29s;
    top: 20%;
    left: 28%;
    width: 15%;
    height: 3%;
  }
  &-2 {
    animation-duration: 40s;
    top: 37.5%;
    left: 65.9%;
    width: 15%;
    height: 3%;
  }
  &-3 {
    animation-duration: 35s;
    top: 55%;
    left: 39%;
    width: 15%;
    height: 3%;
  }
}

.blue {
  animation-name: lineBlue;
  background-color: lightblue;
  position: absolute;

  &-1 {
    animation-duration: 44s;
    top: 22.5%;
    left: 45.5%;
    width: 14%;
    height: 3%;
  }
  &-2 {
    animation-duration: 32s;
    top: 32.5%;
    left: 15%;
    width: 14%;
    height: 3%;
  }
  &-3 {
    animation-duration: 50s;
    top: 25%;
    left: 77.5%;
    width: 14%;
    height: 3%;
  }
}


@keyframes linePurple {
  25% {
    left: -9%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

@keyframes lineYellow {
  25% {
    left: 109%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: -9%;
  }
}

@keyframes lineRed {
  25% {
    left: 20%;
  }
  50% {
    left: 80%;
  }
  100% {
    left: -10%;
  }
}

@keyframes lineBlue {
  25% {
    left: -15%;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 50%;
  }
}
