.sea__bg-lines
  svg.hero__bg-line.hero__bg-line-1
    use.hero__bg-line(xlink:href="#line1")
  svg.hero__bg-line.hero__bg-line-2
    use.hero__bg-line(xlink:href="#line2")
  svg.hero__bg-line.hero__bg-line-3
    use.hero__bg-line(xlink:href="#line3")
  svg.hero__bg-line.hero__bg-line-4
    use.hero__bg-line(xlink:href="#line4")
