extends _layouts/base


block content
  include _modules/svgSprite/svgSprite
  include _modules/svgSprite/svgGradients
  include _modules/pageWrapper/pageWrapper
    include _modules/space/space
    include _modules/hero/hero
    include _modules/sea/sea
